//- Email template adapted from https://github.com/leemunroe/responsive-html-email-template
//- Converted from HTML using https://html2pug.now.sh/

doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= subject

    include _style
  body
    table.body(role='presentation', border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td
          td.container
            .content
              // START CENTERED WHITE CONTAINER
              table.main(role='presentation')

                // START MAIN AREA
                tbody
                  tr
                    td.wrapper
                      table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                          tr
                            td
                              // CONTENT
                              block content

              // START FOOTER
              .footer
                table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                  tbody
                    tr
                      td.content-block
                        span.apple-link * * Administración de Consorcios y Propiedades * Negocios Inmobiliarios * * San Martín 1514 Rosario – 2380284 / 156588038 
                        a(href=`www.centro.com.ar`, target='_blank') www.centro.com.ar
                        br
                        img(src=`${process.env.BASE_URL}/logo.png`, alt='Centro Propiedades', border='0', width='200', style='max-width: 600px; margin: 1rem  auto;  display: block;')
                        //- |  Don't like these emails? 
                        //- a(href='#') Unsubscribe
          //- td  
