extends baseEmail

block content
  p Hola  #{data.fullName}! #{data.TEXT_VEN_CONT} 
  p.expiredContractdeadLine Vencimiento contrato :  #{data.endDate}
  br
  br
  br
  p Saludos 
  p #{data.organizationName}

  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
