extends baseEmail

block content
  p Hola #{data.fullName}
  p ¿Olvidó su contraseña? Haga clic en este botón para restablecerla.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${data.url}`, target='_blank') Restablecer contraseña
  p Si no olvidó su contraseña, ¡ignore este correo electrónico!
